<%content_for :content_header do%>
<h1><%=@message%> <%=t(:component)%></h1>
<p><%=t(:fillFields)%></p>
<%end%>
<div class="content">
  <% form_tag :action => 'edit', :id => @term, :version_id => @version_id do %>
    <%=render :partial => 'form' %>
  <% end %>
</div>