<h1>Editing Params Config Type Doc</h1>

<%= render 'form', params_config_type_doc: @params_config_type_doc %>

<%= link_to 'Show', @params_config_type_doc %> |
<%= link_to 'Back', params_config_type_docs_path %>
