<h1>MetoDoc</h1>

<p>Olá <%= @user.name %>,</p>

<p>
Seja bem vindo a MetoDoc! Clique no link abaixo para ativar sua conta:
</p>

<%= link_to "Ativar conta agora!", edit_account_activation_url(id: @user.activation_token, email: @user.email) %>