<ul>
    <li class="circ"><a href="<%=user_path%>" style="color:rgb(77, 77, 77);"><%=t(:infoPerson)%></a></li>
    <li class="circ"><%= link_to t(:activities), "#{users_path}/atividades/#{session[:user_id]}", class: "linkMenu" %></li>
</ul>
<style>
    .linkMenu {
        color: rgb(77, 77, 77);
    }
</style>