<label for="methodsteps_name">Etapa:</label><br />
<%=text_field :methodstep, :name %><br />
<label for="methodsteps_inlifecycle">Participa do Ciclo de Vida (S/N)?</label>
<%= check_box :methodstep, :inlifecycle%><br><br>