<ul>
    <li class="circ"><a href="<%=methodologies_path%>" style="color:rgb(77, 77, 77);">Metodologias</a>
        <ul>
            <% @methodologias.each do |m|%>
            <li class="circ"><a href="<%methodologies_path%><%=m.id%>" style="color:rgb(77, 77, 77);"><%=m.name%></a></li>
            <%end%>
        </ul>
    </li>
</ul>