<% begin %>
    <div class="menu-lateral">
        <%=render :partial => 'menu_lateral_edit' %>
    </div>
    <div class="tela">
        <div class="content-header">
            <h1><%=@methodology.name%></h1>
            <div class="aba">
                <%=render :partial => 'menu' %>
            </div>
            <hr id="hr">
        </div>
        <div class="content">
            <%= render 'form', methodology: @methodology %>
        </div>
    </div>
    <% rescue Exception => e %>
    <% puts e.message %>
<% end %>