<div style="padding-bottom: 20px;">
<div class="search">
    <input id="strBusca" class="input-search" type="text" placeholder="<%=t(:searchForPrefix)%>">
    <input id="btBusca" class="button-search" type="button">
</div>
</div>
<div class="follow">
    <%if !@entries.nil? %>
        <%@entries.each do |entry|%>
            <%=radio_button :integration, :uri, entry['href']%><a href="<%=entry['href']%>" target="_blank"><%=entry['href']%></a><br>	
        <%end%>
    <%end%>    
</div>
