<label for="integration_name">Nome:</label><br>
<%=text_field :integration, :name%><br />
<label for="integration_prefix">Prefixo:</label><br>
<%=text_field :integration, :prefix%><br />
<label for="integration_uri">URI:</label><br>
<%=text_field :integration, :uri%><br />
<label for="integration_purpose">Propósito:</label><br>
<%=text_field :integration, :purpose%><br />





