<style>
    .info{
        padding-top:5px;
        padding-left:10px;
    }
</style>
<% begin %>
    <%@documento.doc_artefact.each do |a| %>
        <div class="info">
            <%=sanitize(a.params_config_type_doc.description.html_safe)%>: 
            <%=sanitize(a.answer.html_safe)%>
        </div>
    <%end%>
    <% rescue Exception => e %>
    <% puts e.message %>
<% end %>